.ProfileArea {
  /*border-bottom: 2px solid #fff;*/
}
.ProfileArea div {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.ProfileTitle {
  margin-left: 10px;
}
.ProfileDesc {
  margin-top: 0;
  margin-left: 20px;
  padding: 0px 40px 0px 0px;
  text-indent: 30px;
  text-align: justify;
  font-weight: 300;
}
