.ContactHeader {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.ContactTitle {
margin-left: 10px;

}
.ContactItem {
  display: flex;
  align-items: center;
  height: 34px;
}
.ContactItem h4{
  margin-left: 30px;
  font-weight: 400;
}
