.HistoryHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    margin-left: 20px;
    height: 25px;
}
.HistoryHead .HistoryField{
    margin-left:10px;
 }