.BodyApp{
  background-color: black;
  display:flex;
}
.BodyBlueArea{
  width: 340px;
  background-color: #06bec0;
  color: white;

}
.BodyWhiteArea{
  background-color: #fff;
  color: #333;
  flex: 1;
  display:flex;
  flex-direction: column;
 align-items:center ;
}
